/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/cart.blade.zip
/storage/*.key
/storage/pail
/storage/edge-headless
/storage/edge-headless-user
/storage/edge-headless-user-v*
/storage/edge-pdf-profile
/vendor
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/test_write*.txt
/.fleet
/.idea
/.nova
/.vscode
/.zed
